.Calculator {
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  width: 37.9vw;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(12px);
  padding: 4rem 4rem;
  transform: translateX(37.9vw);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  transition: all 0.2s ease-in-out;
}

input {
  display: block;
}

fieldset {
  border: none;
  padding: none;
  margin: none;
}

.Calculator__output {
  font-size: 16px;
  padding-top: 2rem;
}

.output__value {
  font-size: 24px;
}

.Calculator--in {
  transform: translateX(0);
}

.toggle {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.toggle--summon {
  left: -2rem;
  color: white;
}

.toggle--summon:before {
  content: "‹";
}

.toggle--dismiss:before {
  content: "✕";
}