.Calculator {
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  width: 37.9vw;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(12px);
  padding: 4rem 2rem;
  transform: translateX(37.9vw);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

input {
  display: block;
}

.Calculator--in {
  transform: translateX(0);
}

.toggle {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.toggle--summon {
  left: -2rem;
  color: white;
}

.toggle--summon:before {
  content: "‹";
}

.toggle--dismiss:before {
  content: "✕";
}